body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
}

.sections {
    display: flex;
    padding: 5%;
}

.sections .parts {
    width: 50%;
}

.sections .parts img {
    width: 100%;
}

.sections .parts h2 {
    font-size: 8em;
    text-transform: capitalize;
    color: #555;
    margin-top: 15%;
    margin-bottom: 8%;
}

.sections .parts h2 span {
    color: orange;
}

.sections .parts p {
    font-size: 2.4em;
    color: #3b3a3a;
    line-height: 150%;
    width: 70%;
    margin-bottom: 5%;
}

.sections .parts button {
    border: none;
    outline: none;
    background: orange;
    padding: 1em 2em;
    font-size: 2.4em;
    color: white;
    border-radius: 10em;
    cursor: pointer;
}

/* ====================================================== */

.second-section {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.second-section .parts img {
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
}

.second-section .parts h2 {
    margin-top: 25%;
    font-size: 6em;
}

.second-section .parts p {
    margin-bottom: 10%;
    font-size: 2.2em;
}

/* ================================================ */

.text-section {
    display: flex;
    justify-content: center;
}

.text-section .content {
    width: 50%;
    text-align: center;
}

.text-section .content h2 {
    font-size: 6em;
    margin-top: 13%;
    margin-bottom: 5%;
    padding: 0;
}

.text-section .content p {
    font-size: 2.2em;
    margin-bottom: 5%;
}

/* ======================================================== */

.recipe-part {
    width: 88%;
    margin: 0 auto;
    display: flex;
    gap: 2%;
}

.recipe-part .recipe {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(0, 0, 0, 0.1);
}

.recipe-part .recipe img {
    width: 93%;
    height: 50vh;
    padding: 3.5%;
}

.recipe-part .recipe h2 {
    font-size: 5em;
    padding: 0 3.5%;
    margin: 0;
}

.recipe-part .recipe p {
    font-size: 2.2em;
    padding: 0 3.5%;
    margin-bottom: 10%;
}

/* ========================================================= */


.achievement {
    width: 90%;
    margin: 5% auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
}

.achievement .parts {
    width: 33.33333%;
    text-align: center;
    padding: 3% 0;
}

.achievement .parts h2 {
    font-size: 5em;
    margin: 2% 0 0 0;
}

.achievement .parts p {
    font-size: 2.2em;
    margin-top: 1%;
    margin-left: 15%;
}



/* ======================================================= */
footer {
    background: #0b0920;
    padding: 2% 0 8%;
    text-align: center;
}

footer h2 {
    font-size: 4.5em;
    color: grey;
    margin-bottom: 2%;
    margin-top: 5%;
}

footer h2 span {
    color: orange;
}

footer p {
    font-size: 2.2em;
    color: rgba(255, 255, 255, 0.8);
}