body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
}

.sections {
    display: flex;
    padding: 5%;
}

.sections .parts {
    width: 50%;
}

.sections .parts img {
    width: 100%;
}

.sections .parts h2 {
    font-size: 8em;
    text-transform: capitalize;
    color: #555;
    margin-top: 15%;
    margin-bottom: 8%;
}

.sections .parts h2 span {
    color: orange;
}

.sections .parts p {
    font-size: 2.4em;
    color: #3b3a3a;
    line-height: 150%;
    width: 70%;
    margin-bottom: 5%;
}

.sections .parts button {
    border: none;
    outline: none;
    background: orange;
    padding: 1em 2em;
    font-size: 2.4em;
    color: white;
    border-radius: 10em;
    cursor: pointer;
}

/* ====================================================== */

.second-section {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.second-section .parts img {
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
}

.second-section .parts h2 {
    margin-top: 25%;
    font-size: 6em;
}

.second-section .parts p {
    margin-bottom: 10%;
    font-size: 2.2em;
}

/* ================================================ */